---

---

<header class="">
  <h1 class="text-center text-white text-6xl font-bold gradient-background">This is the beginning of a big project</h1>
  <p class="text-white text-center mt-12 ">
    Dedicated to Your Security, Privacy, and Genuine Interests. No Third-Party Manipulation.
  </p>
</header>

<style>
  .gradient-background {
    background: linear-gradient(45deg, #FF0000, #FF6000, #FFD300, #FFFF00, #7CFC00, #00FF00);
    
    background-size: 200% 200%;
    animation: gradient 5s linear infinite;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>